

    <footer class="p-5 bg-theme text-small">
    <div class="container">
    <hr>
      <ul class="list-unstyled list-inline mb-0 text-center">
          <li class="list-inline-item">
              <a href="https://WWW.facebook.com/odus.bukkybalikis" target="_blank">
                  <img src="https://www.vectorvest.com/wp-content/themes/vectorvest/images/social-facebook-white.png" alt="">
              </a>
          </li>
          <li class="list-inline-item">
              <a href="https://twitter.com/Daremberg_?s=08" target="_blank">
                  <img src="https://www.vectorvest.com/wp-content/themes/vectorvest/images/social-twitter-white.png" alt="">
              </a>
          </li>
          <li class="list-inline-item">
              <a href="mailto:odusolubukola303@gmail.com" target="_blank">
                  <img src="https://www.vectorvest.com/wp-content/themes/vectorvest/images/social-googleplus-white.png" alt="">
              </a>
          </li>
          <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/ogunsona-damilola-adesoga-08219919" target="_blank">
                  <img src="https://www.vectorvest.com/wp-content/themes/vectorvest/images/social-linkdin-white.png" alt="">
              </a>
          </li>
          <li class="list-inline-item">
              <a href="https://www.instagram.com/lay_dee_kiss_collection/" target="_blank">
                  <img src="https://www.vectorvest.com/wp-content/themes/vectorvest/images/social-youtube-white.png" alt="">
              </a>
          </li>
      </ul>
      <hr>
      
      <div class="col-12 text-center text-white">
          <p>© Lay Dee Kiss Collection, 2020. All rights reserved.</p>
      </div>
  </div>
</footer>
