<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Lay Dee Kiss Collections</title>
  <link rel="icon" href="/images/logo.jpg">


  <!-- google font -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu&display=swap" rel="stylesheet">

<!-- css-stylesheet -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="css/bootstrap-social.css">
<link rel="stylesheet" href="css/styles.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

<!-- font-awesome -->
<script src="https://kit.fontawesome.com/050b3dd1d0.js" crossorigin="anonymous"></script>

<!-- Bootstrap-script -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</head>
<body>

  <section id="title">
<div class="container-fluid">

    <!-- Nav Bar -->

    <nav class="navbar  navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="">Lay Dee Kiss</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

<div class="container">
	<div class="row">
		        <div class="search">
<input type="text" class="form-control input-sm" maxlength="64" placeholder="Search product,Brands and Categories" />
 <button type="submit" class="atm btn-primary btn-sm">Search</button>
</div>
	</div>
</div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link" href="/"><i class="fas fa-home"></i>Home</a>

            <li class="nav-item">
                <a class="nav-link" href="/login"><i class="fas fa-sign-in-alt"></i>Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/help"><i class="fas fa-question-circle"></i>Help</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cart"><i class="fas fa-cart-plus"></i>Cart</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact"><i class="fas fa-tty"></i>Contact Us</a>

        </ul>
     </div>
    </nav>
  </body>

  </html>
