
<%- include("partials/header"); -%>

<div class="row">
  <div class="col-lg 6">
    <img class="title-image" src="images/logo.jpg" alt="logo-mockup">
  </div>

  <div class="col-lg 6">
    <h1>Connect to our Online Marketplace with millions of high-quality products - no inventory, no risk!.</h1>
          </div>


</div>

</div>

</section>
<section id="shopping">
<div class="container">
    <h3 class="h3">Shop From The Best Collections! </h3>
               <div class="row">

        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="/product">
                     <img  class="pic-1"src="images/sho.jpg" alt="bacon-img">
                      <img  class="pic-2"src="images/shoe.jpg" alt="bacon-img">
                                                </a>
                    <ul class="social">
                        <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                        <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                        <li><a href="cart" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                    <span class="product-new-label">Sale</span>
                    <span class="product-discount-label">20%</span>
                </div>
                <ul class="rating">
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star disable"></li>
                </ul>
                <div class="product-content">
                    <h3 class="title"><a href="#">Men's shoe</a></h3>
                    <div class="price">#1600
                        <span>#1000</span>
                    </div>
                    <a class="add-to-cart" href="/cart">+ Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="/product">
                        <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo9/images/img-3.jpg">
                        <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo9/images/img-4.jpg">
                    </a>
                    <ul class="social">
                        <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                        <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                        <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                    <span class="product-new-label">Sale</span>
                    <span class="product-discount-label">50%</span>
                </div>
                <ul class="rating">
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                </ul>
                <div class="product-content">
                    <h3 class="title"><a href="/cart">Men's Plain Tshirt</a></h3>
                    <div class="price">#5500
                        <span>#1000</span>
                    </div>
                    <a class="add-to-cart" href="/cart">+ Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="/product">
                        <img  class="pic-1"src="images/shoe.jpg" alt="bacon-img">
                        <img  class="pic-2"src="images/sho.jpg" alt="bacon-img">
                      </a>
                    <ul class="social">
                        <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                        <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                        <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                    <span class="product-new-label">Sale</span>
                    <span class="product-discount-label">50%</span>
                </div>
                <ul class="rating">
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                </ul>
                <div class="product-content">
                    <h3 class="title"><a href="/cart">Men's Plain Tshirt</a></h3>
                    <div class="price">#5500
                        <span>#1000</span>
                    </div>
                    <a class="add-to-cart" href="/cart">+ Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#">
                        <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo9/images/img-7.jpg">
                        <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo9/images/img-8.jpg">
                    </a>
                    <ul class="social">
                        <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                        <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                        <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                    <span class="product-new-label">Sale</span>
                    <span class="product-discount-label">50%</span>
                </div>
                <ul class="rating">
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                </ul>
                <div class="product-content">
                    <h3 class="title"><a href="#">Men's Plain Tshirt</a></h3>
                    <div class="price">#5000
                        <span>#1000</span>
                    </div>
                    <a class="add-to-cart" href="/cart">+ Add To Cart</a>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="container">
    <h3 class="h3">shopping Demo / Up to 50% Off</h3>
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#">
                      <img  class="pic-1"src="images/slip.jpg" alt="bacon-img">
                      <img  class="pic-2"src="images/shoes.jpg" alt="bacon-img">
                        </a>
                    <ul class="social">
                        <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                        <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                        <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                    <span class="product-new-label">Sale</span>
                    <span class="product-discount-label">20%</span>
                </div>
                <ul class="rating">
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star disable"></li>
                </ul>
                <div class="product-content">
                    <h3 class="title"><a href="#">Men shoes</a></h3>
                    <div class="price">#1600
                        <span>#1000</span>
                    </div>
                    <a class="add-to-cart" href="/cart">+ Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#">
                        <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo9/images/img-3.jpg">
                        <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo9/images/img-4.jpg">
                    </a>
                    <ul class="social">
                        <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                        <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                        <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                    <span class="product-new-label">Sale</span>
                    <span class="product-discount-label">50%</span>
                </div>
                <ul class="rating">
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                </ul>
                <div class="product-content">
                    <h3 class="title"><a href="#">Men's Plain Tshirt</a></h3>
                    <div class="price">#1500
                        <span>#1000</span>
                    </div>
                    <a class="add-to-cart" href="/cart">+ Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#">
                        <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo9/images/img-5.jpg">
                        <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo9/images/img-6.jpg">
                    </a>
                    <ul class="social">
                        <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                        <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                        <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                    <span class="product-new-label">Sale</span>
                    <span class="product-discount-label">50%</span>
                </div>
                <ul class="rating">
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                </ul>
                <div class="product-content">
                    <h3 class="title"><a href="#">Men's Plain Tshirt</a></h3>
                    <div class="price">#5000
                        <span>#1000</span>
                    </div>
                    <a class="add-to-cart" href="">+ Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#">
                      <img  class="pic-1"src="images/shoes.jpg" alt="bacon-img">
                      <img  class="pic-2"src="images/slip.jpg" alt="bacon-img">
                      </a>
                    <ul class="social">
                        <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                        <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                        <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                    <span class="product-new-label">Sale</span>
                    <span class="product-discount-label">50%</span>
                </div>
                <ul class="rating">
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                </ul>
                <div class="product-content">
                    <h3 class="title"><a href="#">Men's shoes</a></h3>
                    <div class="price">#5200
                        <span>#1000</span>
                    </div>
                    <a class="add-to-cart" href="/cart">+ Add To Cart</a>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>


</section>

</footer>
<footer class="p-5 bg-theme text-small">
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-3 text-white">
            <img src="https://sunlimetech.com/images/logo-white.png" class=" mb-5" alt="">
            <h5 class="text-white">Downloads</h5>
            <ul class="list-unstyled list-inline">
                <li class="list-inline-item">
                    <a href="https://www.apple.com/ng/ios/app-store/" target="_blank"><img src="https://www.vectorvest.com/wp-content/themes/vectorvest/images/social-appstore-white.png" class=" mb-3" alt=""></a>
                </li>
                <li class="list-inline-item">
                    <a href="https://play.google.com/apps?hl=en" target="_blank"><img src="https://www.vectorvest.com/wp-content/themes/vectorvest/images/social-googleplay-white.png" class=" mb-3" alt=""></a>
                </li>
            </ul>
        </div>
        <div class="col-12 col-sm-12 col-md-9">
            <div class="row">
                <div class="col-12 col-sm-4">
                    <h5 class="white">LAYDEEKISS COLLECTION</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" target="_blank">About Us</a></li>
                        <li><a href="#" target="_blank">Career</a></li>
                        <li><a href="#" target="_blank">Our Blog</a></li>
                        <li><a href="#" target="_blank">Terms and Conditions</a></li>
                    </ul>
                    <h5 class="white">PAYMENT</h5>
                    <ul class="list-unstyled">
                        <li><a href="" target="_blank">Wallet</a></li>
                        <li><a href="#" target="_blank">Verve</a></li>
                        <li><a href="#" target="_blank">Master</a></li>
                        <li><a href="#" target="_blank">Visa</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-4">
                    <h5 class="white">CATEGORIES</h5>
                    <ul class="list-unstyled">
                        <li><a href="#shopping">Phones & Tablets</a></li>
                        <li><a href="#shopping" target="_blank">Computing</a></li>
                        <li><a href="#shopping" target="_blank">Bedding</a></li>
                        <li><a href="#shopping" target="_blank">Home & Office</a></li>
                        <li><a href="#shopping" target="_blank">Electronics</a></li>
                        <li><a href="#shopping" target="_blank">Automobile</a></li>
                        <li><a href="#shopping" target="_blank">Kitchen Bundles</a></li>
                        <li><a href="#shopping" target="_blank">Fashion</a></li>
                        <li><a href="#shopping" target="_blank">Pro Analyzer</a></li>
                        <li><a href="#shopping" target="_blank">Baby Product</a></li>
                        <li><a href="#shopping" target="_blank">Sporting Goods</a></li>
                        <li><a href="#shopping" target="_blank">Health $ Beauty</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-4">
                    <h5 class="white">BUYING ON LDKC</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" target="_blank">Privacy Policy</a></li>
                        <li><a href="/help" target="_blank">Track My Order</a></li>
                        <li><a href="#" target="_blank">Delivery</a></li>
                        <li><a href="#" target="_blank">FAQs</a></li>
                        <li><a href="#" target="_blank">Authentic Item Policy</a></li>
                        <li><a href="#" target="_blank">Digital Service</a></li>
                        <li><a href="#" target="_blank">Bulk Purchase</a></li>
                    </ul>
                    <h5 class="white">MORE INFO</h5>
                    <ul class="list-unstyled">
                        <li><a href="/" target="_blank">Pricing</a></li>
                        <li><a href="/contact" target="_blank">Contact Us</a></li>
                        <li><a href="#" target="_blank">Site Map</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  </div>
</footer>


<%- include("partials/footer"); -%>
